.books {
    padding: 72px 0 0 0;

    .books-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(352px, auto));
        justify-items: center;
        column-gap: 12px;
        border-bottom: 1px solid $_system-color-secondary;
    }

    .empty {
        font-size: 40px;
        font-family: "Helios";
        color: $_contextual-color-red;
        text-align: center;
        margin-bottom: 60px;
    }
}